In [ ]:
import pandas as pd
import datetime as dt
import yfinance as yf
from pandas.tseries.offsets import MonthEnd

In [ ]:
tickers=pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2]

In [ ]:
tickers

    Symbol                      Name                  Sector
0     AAPL                     Apple  Information Technology
1     ABBV                    AbbVie             Health Care
2      ABT                    Abbott             Health Care
3      ACN                 Accenture  Information Technology
4     ADBE                     Adobe  Information Technology
..     ...                       ...                     ...
96      VZ                   Verizon  Communication Services
97     WBA  Walgreens Boots Alliance        Consumer Staples
98     WFC               Wells Fargo              Financials
99     WMT                   Walmart        Consumer Staples
100    XOM                ExxonMobil                  Energy

[101 rows x 3 columns]

In [ ]:
tickers=tickers.Symbol.to_list()

In [ ]:
tickers

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK.B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'EXC',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WBA',
 'WFC',
 'WMT',
 'XOM']

In [ ]:
df=yf.download(tickers,start='2009-01-01')

[*********************100%***********************]  101 of 101 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted

In [ ]:
df

             Adj Close                                                  \
                  AAPL        ABBV         ABT         ACN        ADBE
Date
2008-12-31    2.602662         NaN   18.505177   25.209103   21.290001
2009-01-02    2.767330         NaN   18.571064   25.885660   23.020000
2009-01-05    2.884122         NaN   18.252068   26.000982   23.129999
2009-01-06    2.836552         NaN   17.655678   25.678076   24.219999
2009-01-07    2.775259         NaN   17.558599   25.970221   24.230000
...                ...         ...         ...         ...         ...
2022-10-17  142.410004  144.410004  103.519997  262.220001  293.500000
2022-10-18  143.750000  144.600006  104.980003  264.049988  292.980011
2022-10-19  143.860001  143.130005   98.110001  264.059998  299.829987
2022-10-20  143.389999  142.929993   95.209999  261.779999  302.380005
2022-10-21  147.270004  147.059998   95.059998  269.570007  306.369995

                                                                      ...  \
                  AIG        AMD        AMGN         AMT        AMZN  ...
Date                                                                  ...
2008-12-31  21.207163   2.160000   43.587837   23.899536    2.564000  ...
2009-01-02  22.828089   2.380000   44.523754   24.608685    2.718000  ...
2009-01-05  22.422857   2.670000   45.021904   24.510876    2.703000  ...
2009-01-06  23.503485   2.780000   44.033154   24.641296    2.868000  ...
2009-01-07  22.152704   2.660000   43.927486   23.687593    2.810000  ...
...               ...        ...         ...         ...         ...  ...
2022-10-17  51.730000  57.959999  252.929993  192.490005  113.790001  ...
2022-10-18  52.599998  57.919998  252.119995  197.220001  116.360001  ...
2022-10-19  52.750000  57.230000  248.190002  190.990005  115.070000  ...
2022-10-20  51.849998  57.770000  247.449997  188.000000  115.250000  ...
2022-10-21  53.250000  58.820000  251.940002  187.559998  119.320000  ...

             Volume                                                   \
                UNH       UNP      UPS       USB         V        VZ
Date
2008-12-31  5584600   6556200  3977400  10742900  16371600  17429248
2009-01-02  4885900   8053600  4233200  10883600  13199200  14848985
2009-01-05  8518900  12520800  3593500  14067200  16600000  36096596
2009-01-06  7423000  13970400  4578400  16001700  32506400  28001608
2009-01-07  8228400  15205600  5222100  16651800  28441600  22727743
...             ...       ...      ...       ...       ...       ...
2022-10-17  3282300   3002200  2274700  21456500  13952100  21962900
2022-10-18  2345500   2551300  2282500  16113000   5209200  27488600
2022-10-19  2500500   2386900  2129900  10203600   4927000  29563600
2022-10-20  2390800   6103200  2832600  10508000   5706700  35523700
2022-10-21  2896000   6710400  3147900  12850900   7572400  51645900


                 WBA       WFC       WMT       XOM
Date
2008-12-31   6572600  45109700  13881900  30026400
2009-01-02   5266700  36522300  16054800  35803700
2009-01-05  11938400  43614200  16021300  43340100
2009-01-06   7691300  54222900  19146000  41906100
2009-01-07   8245300  52631000  16782000  35268800
...              ...       ...       ...       ...
2022-10-17  13122900  24507000   5937500  14283200
2022-10-18  10005500  24810400   5614100  14065400
2022-10-19   8462600  17876800   3779800  20921700
2022-10-20   6223600  17572700   4251600  17649000
2022-10-21   9876000  18626100   6043800  22801500

[3477 rows x 606 columns]

In [ ]:
price=df['Adj Close']

In [ ]:
#convert the string datetime index to numeral datetime index
price.index=pd.to_datetime(price.index)

In [ ]:
mtl_ret=price.pct_change().resample('M').agg(lambda x:(x+1).prod()-1)

In [ ]:
mtl_ret

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009-01-31,0.056005,0.000000,0.046310,-0.037511,-0.093001,-0.184713,0.013889,-0.050216,0.034788,0.147036,...,0.065038,-0.083892,-0.229695,-0.406637,-0.059104,-0.106012,0.111066,-0.358887,-0.159472,-0.041964
2009-02-28,-0.009098,0.000000,-0.146104,-0.075095,-0.135163,-0.671875,-0.004566,-0.107931,-0.040211,0.101496,...,-0.306389,-0.137344,-0.020516,-0.035714,0.151384,-0.044861,-0.125855,-0.347822,0.044992,-0.107712
2009-03-31,0.177024,0.000000,0.007605,-0.058239,0.280838,1.380953,0.399083,0.012058,0.044986,0.133508,...,0.066698,0.095683,0.195241,0.024038,-0.019573,0.058535,0.088013,0.176859,0.064051,0.002945
2009-04-30,0.197013,0.000000,-0.114598,0.070571,0.278635,0.380000,0.183607,-0.021204,0.043707,0.096405,...,0.123746,0.195329,0.063388,0.247091,0.168345,0.018825,0.210709,0.405197,-0.032630,-0.020999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,-0.081430,0.039289,-0.075004,-0.069725,-0.121062,-0.123271,-0.249264,-0.052349,0.003838,-0.116459,...,0.037606,-0.029575,0.001591,-0.124252,-0.072018,-0.010528,-0.135295,-0.144199,-0.054808,-0.107917
2022-07-31,0.188634,-0.054242,0.006201,0.106967,0.120363,0.012517,0.235386,0.017139,0.059627,0.270596,...,0.055896,0.065735,0.067656,0.025641,0.077302,-0.078402,0.045382,0.119990,0.086116,0.131831
2022-08-31,-0.031208,-0.063062,-0.056872,-0.058121,-0.089437,-0.000386,-0.101620,-0.021474,-0.061958,-0.060615,...,-0.042427,-0.006719,0.005527,-0.033686,-0.061515,-0.094826,-0.104577,0.003210,0.008158,-0.004243
2022-09-30,-0.120977,-0.001859,-0.057379,-0.108022,-0.263068,-0.077063,-0.253446,-0.062006,-0.154891,-0.108622,...,-0.024465,-0.132243,-0.169503,-0.105619,-0.105984,-0.091844,-0.104393,-0.079844,-0.021501,-0.086620
2022-10-31,0.065630,0.106895,-0.012934,0.052347,0.113263,0.121525,-0.071654,0.117746,-0.120039,0.055929,...,0.056807,-0.022020,0.024824,0.004712,0.071601,-0.053312,0.092357,0.114620,0.054742,0.212461

In [ ]:
#next we choose a random date and go one month before and check the worst performing stocks and buy em
formation=dt.datetime(2009,2,28)
ret_1=mtl_ret.loc[formation-MonthEnd(1)]

In [ ]:
ret_1

AAPL    0.056005
ABBV    0.000000
ABT     0.046310
ACN    -0.037511
ADBE   -0.093001
          ...
VZ     -0.106012
WBA     0.111066
WFC    -0.358887
WMT    -0.159472
XOM    -0.041964
Name: 2009-01-31 00:00:00, Length: 101, dtype: float64

In [ ]:
ret_1.name='mtl_ret'

In [ ]:
ret_1=pd.DataFrame(ret_1)

In [ ]:
ret_1

       mtl_ret
AAPL  0.056005
ABBV  0.000000
ABT   0.046310
ACN  -0.037511
ADBE -0.093001
...        ...
VZ   -0.106012
WBA   0.111066
WFC  -0.358887
WMT  -0.159472
XOM  -0.041964

[101 rows x 1 columns]

In [ ]:
ret_1['decile']=pd.qcut(ret_1.mtl_ret,10,labels=False)

In [ ]:
ret_1

       mtl_ret  decile
AAPL  0.056005       8
ABBV  0.000000       7
ABT   0.046310       8
ACN  -0.037511       5
ADBE -0.093001       3
...        ...     ...
VZ   -0.106012       2
WBA   0.111066       9
WFC  -0.358887       0
WMT  -0.159472       1
XOM  -0.041964       5

[101 rows x 2 columns]

In [ ]:
loosers=ret_1[ret_1.decile==0].index

In [ ]:
loosers

Index(['BAC', 'BLK', 'C', 'CAT', 'COF', 'FDX', 'GE', 'SPG', 'UPS', 'USB',
       'WFC'],
      dtype='object')

In [ ]:
los_ret=mtl_ret.loc[formation,mtl_ret.columns.isin(loosers)].mean()

In [ ]:
los_ret

-0.23242647173799583

In [ ]:
#backtest the strategy for all months
def reversal(formation):
    ret_1=mtl_ret.loc[formation-MonthEnd(1)]
    ret_1.name='mtl_ret'
    ret_1=pd.DataFrame(ret_1)
    ret_1['decile']=pd.qcut(ret_1.mtl_ret,10,labels=False,duplicates='drop')
    loosers=ret_1[ret_1.decile==0].index
    los_ret=mtl_ret.loc[formation,mtl_ret.columns.isin(loosers)].mean()
    return los_ret

In [ ]:
#get returns for all dates starting from third date
returns=[]
dates=[]
#i is the formation date
for i in mtl_ret.index[2:]:
    returns.append(reversal(i))
    dates.append(i)

In [ ]:
returns

[-0.23242647173799583,
 0.3426156261482568,
 0.04665818435346621,
 0.053601079608531776,
 0.03520302117054199,
 0.06334101863190396,
 0.22552575899648783,
 0.052842823883632435,
 -0.02080134008042717,
 0.09031883668981157,
 0.009315445562794684,
 0.0230267704080788,
 0.03238374333110914,
 0.08037123554392075,
 -0.025495968708641348,
 -0.07336845427893755,
 -0.07674330343211679,
 0.079415411411276,
 0.003470030157350888,
 0.10684573967092735,
 0.013984681250989173,
 0.021783508234533556,
 0.05148741365458993,
 0.027887221800567744,
 0.017120979690553362,
 -0.02259534384929961,
 0.04486919783456196,
 -0.02120382730375837,
 -0.008728870411439911,
 -0.049546216932891525,
 -0.08472519917710426,
 -0.1428919089963822,
 0.13644676320575477,
 -0.021504219006906536,
 -0.019454639290591144,
 0.10901720680540587,
 0.06360027741553347,
 0.03846212088840684,
 -0.0334464259364693,
 -0.11948845668440353,
 0.04659847692393453,
 0.03668353524146,
 0.061303667113720595,
 0.02691658727331833,
 0.004969084339044073,
 0.059056106012957105,
 0.03125946148814413,
 0.05215241730556865,
 0.005398210740598589,
 0.025905592230267237,
 0.022197911769961724,
 0.07434028513747915,
 -0.0017106575939603449,
 0.09802706635141649,
 -0.017332193433916735,
 0.03787742418918602,
 0.050093057654572684,
 0.015602169840888448,
 0.08057529280614377,
 -0.03649588397770933,
 0.036908533394874106,
 0.020678613140795103,
 -0.034259067260270636,
 0.06796934687236039,
 0.027858896526606156,
 -0.0067086909852755,
 0.051201395208044405,
 -0.00559932280764731,
 -0.02601260816231527,
 0.019474177067014275,
 -0.008965834837849275,
 0.006928258769451982,
 0.09202509359129682,
 -0.010283613025488867,
 0.07306733391414776,
 0.046781955344629804,
 -0.03466171008167876,
 -0.02241851150874099,
 -0.043792489082720626,
 -0.05619061003932649,
 0.09879668885576386,
 0.002248849582734802,
 0.018850268873095013,
 -0.09192545560501174,
 -0.00113135922701542,
 0.07566434486543598,
 0.03752418592975426,
 0.04505100531264045,
 0.003448386789128581,
 0.06292483008411744,
 0.0028182327933566694,
 -0.014156501859110559,
 -0.001567447591484134,
 0.041228745307269984,
 0.03735298264291101,
 0.020982755229197358,
 0.060197220730872185,
 0.004359543960114984,
 -0.007005557478819439,
 0.012604865475417755,
 0.02997198571380003,
 0.03510811923966677,
 0.010253022482627222,
 0.021164870841881515,
 -0.013074457950764985,
 0.019233867928549763,
 -0.006721148708887969,
 0.023474862918566132,
 -0.045304977700929186,
 -0.05042450420085399,
 0.015567789328337134,
 0.01019971543256633,
 0.024037424861539067,
 0.04301199066767548,
 0.010832405505413948,
 -0.003077567679767392,
 -0.006871938345009432,
 0.048962903168156435,
 -0.08425111504387517,
 0.10761217865104142,
 0.03417488224407186,
 0.016614193655799917,
 0.014983073007129139,
 -0.07951213356287795,
 0.1199621605469701,
 0.01925698515650158,
 -0.001517317304273372,
 0.07955693962872369,
 0.06411190663627361,
 0.022189752473898126,
 0.03834029783026036,
 -0.035283270125866587,
 -0.09816120271922428,
 -0.23277549170393924,
 0.12965167567028565,
 0.027185427032375385,
 0.029148212316966234,
 0.07063844378600888,
 0.03257706144377763,
 -0.03221564929683816,
 -0.01863258099556483,
 0.19801839563173462,
 0.014188927796333599,
 0.02714242824515022,
 0.06710330515593697,
 0.046524817183152004,
 0.03572622764330181,
 0.06504080609489124,
 0.01888037639376571,
 -0.011300368402912465,
 0.006872346098499485,
 -0.007431314040801016,
 0.05349051676602942,
 -0.04136479272495632,
 0.059296196061696775,
 -0.09618845829249313,
 -0.03262100072498513,
 0.011359097346280357,
 -0.132979039235867,
 0.018872014598081823,
 -0.034524482881392295,
 0.1474239275889152,
 -0.028868260368861677,
 -0.15316074597894308,
 0.07287566273615974]

In [ ]:
frame=pd.DataFrame({'dates':dates,'returns':returns})

In [ ]:
frame

         dates   returns
0   2009-02-28 -0.232426
1   2009-03-31  0.342616
2   2009-04-30  0.046658
3   2009-05-31  0.053601
4   2009-06-30  0.035203
..         ...       ...
160 2022-06-30 -0.034524
161 2022-07-31  0.147424
162 2022-08-31 -0.028868
163 2022-09-30 -0.153161
164 2022-10-31  0.072876

[165 rows x 2 columns]

In [ ]:
frame.returns.mean()

0.016892328291890184

In [ ]:
#compare returns with the benchmark
df=yf.download('^OEX',start='2009-01-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [ ]:
df

Date
2008-12-31     431.540009
2009-01-02     444.519989
2009-01-05     440.829987
2009-01-06     442.720001
2009-01-07     429.839996
                 ...
2022-10-17    1667.550049
2022-10-18    1684.849976
2022-10-19    1675.709961
2022-10-20    1664.619995
2022-10-21    1704.599976
Name: Adj Close, Length: 3477, dtype: float64

In [ ]:
bench_ret=df.pct_change().resample('M').agg(lambda x:(x+1).prod()-1)

In [ ]:
bench_ret

Date
2008-12-31    0.000000
2009-01-31   -0.093294
2009-02-28   -0.110075
2009-03-31    0.083685
2009-04-30    0.075924
                ...
2022-06-30   -0.078008
2022-07-31    0.092709
2022-08-31   -0.046479
2022-09-30   -0.095770
2022-10-31    0.048494
Freq: M, Name: Adj Close, Length: 167, dtype: float64

In [ ]:
#get these returns in the frame dataframe
frame['S&P 100 RET']=bench_ret[2:].values

In [ ]:
frame

         dates   returns  S&P 100 RET
0   2009-02-28 -0.232426    -0.110075
1   2009-03-31  0.342616     0.083685
2   2009-04-30  0.046658     0.075924
3   2009-05-31  0.053601     0.053103
4   2009-06-30  0.035203     0.004912
..         ...       ...          ...
160 2022-06-30 -0.034524    -0.078008
161 2022-07-31  0.147424     0.092709
162 2022-08-31 -0.028868    -0.046479
163 2022-09-30 -0.153161    -0.095770
164 2022-10-31  0.072876     0.048494

[165 rows x 3 columns]

In [ ]:
frame[frame.returns>frame['S&P 100 RET']].shape

(105, 3)